@font-face {
  font-family: "TAN - PEARL";
  src: url("../fonts/TAN-PEARL.woff") format("woff"),
  url("../fonts/TAN-PEARL.woff2") format("woff2"),
  url("../fonts/TAN-PEARL.otf") format("otf"),
  url("../fonts/TAN-PEARL.ttf") format("ttf");
}

@font-face {
  font-family: "Calibre";
  src: url("../fonts/Calibre.woff") format("woff"),
  url("../fonts/Calibre.otf") format("otf"),
  url("../fonts/Calibre.woff2") format("woff2");
}
