main.about{
  padding-right: 0;
}
.about .title{
  //margin-top: 5rem;
  margin-bottom: 9rem;
}

.about__content{
  max-width: 40rem;
  min-width: 20rem;
  line-height: 2.4rem;
  //margin-left: 4rem;
  p+p+p{
    margin-top: 24px;
  }
}
.about__wrapper{
  padding-right: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 8rem;
  column-gap: 4.2rem;
}
.about__thumb {
  width: 100%;
  height: 70rem;
  object-fit: cover;
  object-position: top;
}
/*
.about__thumb{
  width:100% ;
  height: 100%;
  object-fit: cover;

}
.about__image{
  height: 600px;
  width: 500px;
}*/
.about__projects-btn{
  margin: 6rem auto 9.8rem;

}
@media (min-width: 800px) {
  .about__wrapper{
   display: grid;
    grid-template-columns: repeat(2,1fr);
    //column-gap: 6rem;

  }
  .about__content{
    line-height: 2.7rem;
    margin-left: 4rem;
  }

}
.title-svg svg{
  animation-name: rotate;
  animation-duration: 15s;
  animation-iteration-count : 3;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


