/*

nav {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
  margin-top: 3rem;
  margin-left: 4rem;
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  ul li {
    margin-right:3rem;
    margin-top: 1rem;

    &:last-child {
      margin-right: 0;
    }

    a{
      font-size: $txt_font_size;
      color: $txt_color;
    }
  }
}

label.labelMenu, #toggle
{
  display: none;
}

@media (max-width: 991px)
{
  nav
  {
    height: 60px;
  }

  .menu
  {
    display: none;
    flex-direction: column;
    height: 220px;
  }
  nav .menu a {
    width: 50%;
  }

  label.labelMenu
  {
    width: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: self-end;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }

  #toggle:checked + .menu {
    display: flex;
  }


}
*/



 /* #menuToggle{
    position: relative;
  }*/

@media (max-width: 550px){
  header{
    display: flex;
    flex-direction: row;
    //flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 3rem;

  }
  .nav{

    position: absolute;
    top: 4rem;
    left:0;
    right: 0;
    width: 50%; //70
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    //align-items: self-end;


    transform: translateX(100%);
    transition: .5s ease;
    //z-index: 1;


    &__container{
      display: flex;
      flex-direction: column;
      gap: 4rem;
      padding-top: 3rem;
      // padding-left: 25px;
      padding-right: 2.5rem;
    }

    &__link{
      margin-left: 2rem;
      color: white;
      text-decoration: none;
      font-size: $txt_font_size;
    }

  }
  .nav{
    padding-left: 4rem;
  }

  #menuToggle span
  {

    margin-left: 7rem;
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 0.5rem;
    background: $txt_color;
    border-radius: 3px;

    //z-index: 1;
    transform-origin: center;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;

  }
  #menuToggle input
  {
    margin-left: 7rem;
    display: block;
    width: 40px;
    height: 30px;
    position: absolute;
    top: -1rem;
    cursor: pointer;

    opacity: 0;
    z-index: 2;

  }
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 55% -55%;
  }
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg);
    background: $txt_color;
  }
  #menuToggle input:checked ~ span + span
  {
    opacity: 1;
    transform: rotate(140deg);
    background: $txt_color;
  }

  #menu
  {
    transform-origin: 0% 0%;
    transform: translate(100%, 20%);

    transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menuToggle input:checked ~ ul
  {
    margin-top: 2rem;
    transform: none;
    background-color: $bg_color;
    min-height: 100vh;

      border: pink solid 1px;
      box-shadow: #FFAFBD 0px 0px 5px 0px;
      padding-top: 4rem;
      padding-left: 1rem;


  }

}

@media (min-width: 551px){

  header{
    display: flex;
    flex-direction: row;
    align-items: self-start;
    justify-content: space-between;
    margin-top: 3rem;

  }
  .nav{


    &__container{
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &__link{
      font-size: $txt_font_size;
      color: $txt_color;
      text-decoration: none;
    }
    &__item{
      margin-right:3rem;
      //margin-top: 1rem;

      &:last-child {
        margin-right: 2rem;
        border: pink solid 1px;
        padding: 2rem;

        box-shadow: #FFAFBD 0px 0px 5px 0px;
      }
    }
    &__toggle input{
      display: none;
    }
  }
}


