/*

nav {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
  margin-top: 3rem;
  margin-left: 4rem;
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  ul li {
    margin-right:3rem;
    margin-top: 1rem;

    &:last-child {
      margin-right: 0;
    }

    a{
      font-size: $txt_font_size;
      color: $txt_color;
    }
  }
}

label.labelMenu, #toggle
{
  display: none;
}

@media (max-width: 991px)
{
  nav
  {
    height: 60px;
  }

  .menu
  {
    display: none;
    flex-direction: column;
    height: 220px;
  }
  nav .menu a {
    width: 50%;
  }

  label.labelMenu
  {
    width: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: self-end;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }

  #toggle:checked + .menu {
    display: flex;
  }


}
*/

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}
.nav{
  background-color: $bg_color;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  /*
  transform: translateX(-110%);
  transition: .5s ease;
  z-index: 999;
  */

  &__container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 20px;
  }

  &__link{

    color: white;
    text-decoration: none;
  }
}
#menuToggle input:checked .nav .nav__container{
  transform: translateX(0);
}

#menuToggle{
  position: relative;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;
  transform-origin: center;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;

}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 30px;
  position: absolute;
  top: -10px;
  cursor: pointer;

  opacity: 0; //hide this
  z-index: 2; //and place it over the hamburger *!

  -webkit-touch-callout: none;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 55% -50%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg);
  background: #ffffff;
}
#menuToggle input:checked ~ span + span
{
  opacity: 1;
  transform: rotate(140deg);
  background: #ffffff;
}



/*

nav {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
  margin-top: 3rem;
  margin-left: 4rem;
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  ul li {
    margin-right:3rem;
    margin-top: 1rem;

    &:last-child {
      margin-right: 0;
    }

    a{
      font-size: $txt_font_size;
      color: $txt_color;
    }
  }
}
.hamburger {
  display: none;
}
*/

/*


#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; !* hide this *!
  z-index: 2; !* and place it over the hamburger *!

  -webkit-touch-callout: none;
}

!*
 * Just a quick hamburger
 *!
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

!*
 * Transform all the slices of hamburger
 * into a crossmark.
 *!
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

!*
 * But let's hide the middle one.
 *!
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

!*
 * Ohyeah and the last one should go the other direction
 *!
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

!*
 * Make this absolute positioned
 * at the top left of the screen
 *!
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  !* to stop flickering of text in safari *!

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

!*
 * And let's slide it in from the left
 *!
#menuToggle input:checked ~ ul
{
  transform: none;
}*/


