$bg_color : #1F1F1F;
$txt_color : white;
$pink_color: #FFAFBD;
$txt_font_size : 1.8rem;
$title_font_size: 4rem;
$subTitle_font_size: 2.7rem;
$txt_font_size_mobile : 1.6rem;
$title_font_size_mobile : 3.6rem;
$subTitle_font_size_mobile : 2.4rem;
$borderShadow: #FFAFBD 0px 0px 5px 0px;
$footerColor :#707070;


* {
  box-sizing: border-box;
}
html{
  background-color: $bg_color;
  font-size: 10px;
  color:$txt_color;
  //margin-right: 4rem;
  //margin-left: 4rem;
  scroll-behavior: smooth;
  font-family: Calibre,sans-serif;
  max-width: 100vw;

}
body{
  padding: 0 4rem;
}


.hidden{
    position: absolute;
    overflow: hidden;
    clip:rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border:0;
}

.title{
  font-size: $title_font_size_mobile;
  // noinspection CssNoGenericFontName
  font-family: "TAN - PEARL", Serif;
}
.subTitle{
  font-size: $subTitle_font_size_mobile;
}
p{
  font-size: $txt_font_size_mobile;
}

//deco btn
a.btn{
  display: flex;

}
a.btn:before,
a.btn:after{
  display: block;
  content: "";
  align-self: center;
  width: 4rem;
  border-bottom: 1px solid pink;
  box-shadow: $borderShadow;
}
//mettre en visibility hidden les tiret span pour lespace entre les lignes
a span{
  visibility: hidden;
}
a.condition{
  color: white;
  text-decoration: none;
  border-bottom: 1px solid $pink_color;
}
// ** introduction

section.introduction{
  margin-top: 16rem;
  position: relative;
  z-index: 0;
  min-height: 100vh;
}
section.introduction div:not(.introduction__rs) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a.btn{
  font-size: $txt_font_size_mobile;
  text-decoration: none;
  color: $txt_color;
}
.introduction{

  &__title{
    text-align: center;
  }
/*  &__rect{
    width: 100vw;
    height: 800px;
    position: absolute;
    top: -7rem;
    z-index: -9999;
  }
 &__rect svg{

    width: 100%;
    height: auto;
    z-index: -9999;
   top: -7rem;

  }*/
  &__rect{
    width: 100vw;
    height: 400px;
    margin-left: -4rem;
    margin-right: -4rem;
    overflow: hidden;
    position: absolute;
    top: -14rem;

    z-index: -9999;

    svg{
      max-width: 80rem;
      height: auto;
      //position: absolute;
      /*position: absolute;
      bottom: 20px;*/

    }
  }


  &__para{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: $subTitle_font_size_mobile;
    text-align: center;

  }
  &__rs svg{
    height: 2rem;
    width: auto;
  }
  &__rs {
    display: flex;
    margin-top: 12rem;
  }
  &__rs a{
    margin-right: 2rem;
  }
}


// ** projects
.projects{
  &__title{
    margin-top: 0px;
    margin-bottom: 12rem;
    text-align: center;
  }
  &__wrapper{
    margin-left: -4rem;
    margin-right: -4rem;
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
  }
}

.project{
  &__thumb{
    width:100% ;
    height: 100%;
    object-fit: cover;

  }
  &__card figure{
    height: 50rem;
    width: 100vw;
  }
  &__label{
    padding-left: 2rem;
    margin-top: -10rem;
    background-color: hsla(0,0%,0%,0.60);
    position: relative;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;

  }
  &__link{
    text-decoration: none;
    color: white;
  }
  &__small-desc{
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  &__arrow-left{
    margin-top: -5rem;
    align-self: end;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }
  &__arrow-left svg{
    width: 2rem;
    height: auto;
  }

}


@media (min-width: 551px){
  .title{
    font-size: $title_font_size;
  }
  .subTitle{
    font-size: $subTitle_font_size;
  }
  p, a.btn{
    font-size: $txt_font_size;
  }



  .introduction{
    &__para{
      margin-top: 3.5rem;
      margin-bottom: 3.5rem;
      font-size: $txt_font_size;

    }
    &__title{
      margin-top: 4rem;
    }
    &__rect{
      //width: 100vw;
      //height: 400px;
      margin-left: -4rem;

      top: -10rem;

      z-index: -9999;

      svg{
        min-width: 130rem;
        height: auto;
        //position: absolute;
        /*position: absolute;
        bottom: 20px;*/

      }
    }
    /*&__rect svg{
      width: 130rem;

      height: auto;
    }*/
    &__para{
      font-size: $subTitle_font_size;
    }
    &__rs svg{
      height: 3rem;
      width: auto;
    }
    &__rs {
      margin-top: 25rem;
    }
  }
}


@media (min-width: 700px) {

  .projects__wrapper{
    grid-template-columns: repeat(2,calc(100vw/2));

  }
  .project{
    &__card figure{
      width: calc(100vw/2);

    }
    &__label{
      display: none;
    }
  }
  .arrow-left{
    display: none;
  }
  .project:hover{

    .project__label{
      padding-left: 2rem;
      //margin-top: -10rem;
      background-color: hsla(0,0%,0%,0.60);
      position: relative;
      padding-top: 2rem;
      display: flex;
      flex-direction: column;

    }

    .project__link{
      text-decoration: none;
      color: white;
    }
    .project__small-desc{
      margin-top: 1rem;
      margin-bottom: 3rem;
    }
    .project__arrow-left{
     // margin-top: -5rem;
      align-self: end;
      //margin-bottom: 2rem;
     // margin-right: 2rem;
    }
    .project__arrow-left svg{
      width: 2rem;
      height: auto;
    }
  }
}
section.projects a.projects__btn{
  margin: 6rem auto 8rem;
}


.js-animation{
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 1s ease-out,
  opacity 1s ease-in-out;
}
.js-animation.active{
  transform: translateX(0%);
  opacity: 1;
}


.introduction__arrow {
  -webkit-animation: mover 1s  alternate;
  animation: mover 1s infinite  alternate;
}
.introduction__arrow{
  -webkit-animation: mover 1s  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-1rem); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-1rem); }
}

@media (max-width: 390px) {

  .title{
    font-size:3.2rem ;
    line-height: 150%;
  }
  .subTitle{
    font-size: 2rem;
  }

  .introduction__rs {
    margin-top: 2rem;
  }
  /*.introduction__btn{
    margin-top: 30px;
  }*/
  .introduction__rect svg {
    max-width: 50rem;
    //height: auto;
  }
  .introduction__rect{
    top: -20rem;
  }
  section.introduction{
    margin-top: 14rem;
  }
  .introduction .title{
    margin-top: -4.5rem;
  }
  .introduction .introduction__para{
    margin-top: 5rem;
  }
  .introduction .introduction__arrow{
    margin-top: 5rem;
  }


}

.btn{
  width: fit-content;
}


