$bg_color : #1F1F1F;
$txt_color : white;
$pink_color: #FFAFBD;
$txt_font_size : 1.8rem;


* {
  box-sizing: border-box;
}
html{
  background-color: $bg_color;
  font-size: 10px;
  color:$txt_color;
  margin-right: 4rem;
  margin-left: 4rem;
}
.hidden{
    position: absolute;
    overflow: hidden;
    clip:rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border:0;
}
