h2.templateProjects__title{
  //margin-top: 5rem;
  margin-bottom: 9rem;
}
.wrap-title-svg{
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  column-gap: 36px;
  .title-svg{
    margin-top: -10px;
  }
}